* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    background:  rgb(221, 191, 191);
    border-radius: 10px; /* Crea un círculo */
    display: grid;
    grid-template-areas: 'header'
        'nav'
        'section'
        'footer';
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;

}

header {
    grid-area: header;
    background: #df31e0;
    text-align: center;
    padding-top: 3%;
    border-radius: 10px 10px 0px 0px;
}

header p{
    background: #0de0c0;
}

nav {
    grid-area: nav;
    background: rgb(252, 252, 233);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
}

nav ul li{
    display: inline;
    list-style: none;
    margin-left: 20px;
}

section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    grid-area: section;
    background: rgb(227, 241, 227);
    display: grid;
    grid-template-columns: auto auto;

}

footer {
    text-align: center;
    grid-area: footer;
    background: rgb(207, 206, 206);
    border-radius: 0px 0px 10px 10px;
    padding-top: 3%;
    padding-bottom: 3%;
}